.App {
  text-align: center;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.calcWrapper{
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
}
.inputWrapper{
  height:100px;
  display: flex;
  justify-content: center;
  justify-items: flex-start;
  align-items: center;
  color: white;
  font-weight: bold;
  box-sizing: border-box;

}

.buttonWrapper{
  min-width: 70%;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.values{
  height: 100px;
  width: 90%;
  margin-bottom: 1px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: flex-end;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
}
.operatorButtons{
  height: 70px;
  padding: 5px;
  margin: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}
.otherButtons{
  width: 100%;
  padding: 5px;
  margin: 3px;
  display: flex;
  grid-template-columns: repeat(4, 5fr);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
